pyitlib
scikit-learn
seaborn
matplotlib
pandas
pyprind
torch
numpy
attrs
https://github.com/phueb/Ludwig/archive/v3.0.0.tar.gz
https://github.com/phueb/Preppy/archive/v2.0.0.tar.gz
https://github.com/phueb/CategoryEval/archive/v3.1.0.tar.gz