pyitlib
scikit-learn
seaborn
matplotlib
pandas
pyprind
torch==1.6
numpy==1.18
https://github.com/phueb/Ludwig/archive/v4.0.1.tar.gz
https://github.com/phueb/Preppy/archive/v2.0.0.tar.gz
https://github.com/phueb/CategoryEval/archive/v3.2.0.tar.gz